---
import BaseLayout from "../components/layouts/BaseLayout.astro"
---

<BaseLayout title="Design System">
    <main>
    <m-fit-text font-display>Max Hill</m-fit-text>
    </main>
</BaseLayout>

<script>
    import "../components/compo.ts";
</script>

<style>
    main {
        height: 100dvh;
        width: 100dvw;
        display: flex;
        place-items: center;
    }
    m-fit-text {
        width: 100%;
        place-items: center;
    } 

</style>
