---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    metadata: Record<string, string>;
}

const { metadata, class: className, ...rest } = Astro.props;
---

<div class:list={["document", className]} {...rest}>
    <div class="content-grid">
        <ul class="document-metadata" data-width="full">
            {
                Object.entries(metadata).map(([key, value]) => (
                    <li>
                        <span class="label">{key}:</span> {value}
                    </li>
                ))
            }
        </ul>
        <slot />
    </div>
</div>

<style>
    .document {
        display: flex;
        justify-content: center;

        z-index: var(--layer-1);
        background: hsl(var(--color-background));

        .content-grid {
            --_content-max-width: 700px;
            --_breakout-max-width: 800px;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 1000px;
            max-width: 90vw;
            background: hsl(var(--color-background));
            gap: var(--size-fluid-1);
        }
    }

    .document-metadata {
        border-bottom: var(--border-width) solid hsl(var(--color-border));
        list-style: none;
        margin: 0;
        padding: var(--size-fluid-2);

        .label {
            font-weight: var(--font-weight-bold);
        }
    }
</style>
