:host {
    display: grid;

    width: 100%;
    min-height: 100vh;
    
    grid-template-areas: 
    "title title"
    "clubs form";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.club-list {
    padding: var(--body-margin);
    grid-area: clubs;
}

.shot-type-list {
    padding: var(--body-margin);
    grid-area: shot-types;
}

.form {
    padding: var(--body-margin);
    grid-area: form;
}

.form::part(form) {
    display:grid;
    grid-template-areas: 
    "title title"
    "form shot-types"
    "save-button save-button";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.form::part(title) {
    grid-area: title;
}

.form::part(save-button) {
    grid-area: save-button;
}
