---
import { getCollection } from "astro:content";

const docEntries = await getCollection("componentDocs");

const components = docEntries
    .map((docsEntry) => {
        const tagName = docsEntry.id.split("/").slice(-2, -1)[0];

        if (!tagName) {
            return null;
        }

        return {
            tagName,
            componentPath: tagName.substring(2),
        };
    })
    .filter(Boolean);
---

<m-search-list
    class="content-grid"
    data-gap="3"
    data-width="full"
    target=".collection"
>
    <label class="stack" data-gap="1" for="search-components" slot="controller"
        >Search components
        <input id="search-components" slot="controller" type="search" />
    </label>

    <div class="collection" data-gap="2" data-size="9">
        {
            components.map((component) => (
                <a
                    href={`/components/${component.componentPath}`}
                    class="box"
                    data-keywords={component.tagName}
                >
                    &lt;{component.tagName}&gt;
                </a>
            ))
        }
    </div>
</m-search-list>

<style>
    :global([data-match="false"]) {
        display: none;
    }
</style>
