@layer semantics {
    [data-theme="dark"] {
        --tint-loud: white;
        --tint-soft: black;


            --shadow-color: 220 40% 2%;
            --shadow-strength: 25%;

        /*  ------------------------------------------------------------------------
        /*  Color - swatches                                                                     
        /*  ------------------------------------------------------------------------ */
        /* Primary */
        --color-primary-fill-softer: color-mix(in oklab, var(--color-primary-900), white 1%);
        --color-primary-fill-soft: var(--color-primary-800);
        --color-primary-fill-mid: color-mix(in oklab, var(--color-primary-600), black 7.5%);
        --color-primary-fill-loud: var(--color-primary-200);
        --color-primary-fill-louder: var(--color-primary-100);
        --color-primary-text-on-soft: var(--color-primary-100);
        --color-primary-text-on-mid: var(--color-primary-100);
        --color-primary-text-on-loud: var(--color-primary-900);
        --color-primary-text-colorful: var(--color-primary-500);
        --color-primary-stroke-softer: color-mix(in oklab, var(--color-primary-900), white 7.5%);
        --color-primary-stroke-soft: var(--color-primary-800);
        --color-primary-stroke-mid: var(--color-primary-600);

        /* Neutral */
        --color-neutral-fill-softer: color-mix(in oklab, var(--color-neutral-900), white 1%);
        --color-neutral-fill-soft: var(--color-neutral-800);
        --color-neutral-fill-mid: color-mix(in oklab, var(--color-neutral-600), black 7.5%);
        --color-neutral-fill-loud: var(--color-neutral-200);
        --color-neutral-fill-louder: var(--color-neutral-100);
        --color-neutral-text-on-soft: var(--color-neutral-100);
        --color-neutral-text-on-mid: var(--color-neutral-100);
        --color-neutral-text-on-loud: var(--color-neutral-900);
        --color-neutral-text-colorful: var(--color-neutral-500);
        --color-neutral-stroke-softer: color-mix(in oklab, var(--color-neutral-900), white 7.5%);
        --color-neutral-stroke-soft: var(--color-neutral-800);
        --color-neutral-stroke-mid: var(--color-neutral-600);

        /* Constructive */
        --color-constructive-fill-softer: color-mix(in oklab, var(--color-constructive-900), white 1%);
        --color-constructive-fill-soft: var(--color-constructive-800);
        --color-constructive-fill-mid: color-mix(in oklab, var(--color-constructive-600), black 8%);
        --color-constructive-fill-loud: var(--color-constructive-200);
        --color-constructive-fill-louder: var(--color-constructive-100);
        --color-constructive-text-on-soft: var(--color-constructive-100);
        --color-constructive-text-on-mid: var(--color-constructive-100);
        --color-constructive-text-on-loud: var(--color-constructive-900);
        --color-constructive-text-colorful: var(--color-constructive-500);
        --color-constructive-stroke-softer: color-mix(in oklab, var(--color-constructive-900), white 7.5%);
        --color-constructive-stroke-soft: var(--color-constructive-800);
        --color-constructive-stroke-mid: var(--color-constructive-600);

        /* Destructive */
        --color-destructive-fill-softer: color-mix(in oklab, var(--color-destructive-900), white 1%);
        --color-destructive-fill-soft: var(--color-destructive-800);
        --color-destructive-fill-mid: color-mix(in oklab, var(--color-destructive-600), black 7.5%);
        --color-destructive-fill-loud: var(--color-destructive-200);
        --color-destructive-fill-louder: var(--color-destructive-100);
        --color-destructive-text-on-soft: var(--color-destructive-100);
        --color-destructive-text-on-mid: var(--color-destructive-100);
        --color-destructive-text-on-loud: var(--color-destructive-900);
        --color-destructive-text-colorful: var(--color-destructive-500);
        --color-destructive-stroke-softer: color-mix(in oklab, var(--color-destructive-900), white 7.5%);
        --color-destructive-stroke-soft: var(--color-destructive-800);
        --color-destructive-stroke-mid: var(--color-destructive-600);


        /*  ------------------------------------------------------------------------
        /*  Colors - Text                                                                     
        /*  ------------------------------------------------------------------------ */
        --color-text: color-mix(in oklch, var(--gray-seed), var(--tint-loud) 60%);
        --color-text-weak: color-mix(in oklch, var(--gray-seed), var(--tint-loud) 50%);
        --color-text-weaker: color-mix(in oklch, var(--gray-seed), var(--tint-loud) 30%);
        --color-text-weakest: color-mix(in oklch, var(--gray-seed), var(--tint-soft) 10%);

        --color-text-link: var(--color-primary-text-colorful);
        

        /*  ------------------------------------------------------------------------
        /*  Colors - Backgrounds                                                                    
        /*  ------------------------------------------------------------------------ */
        --color-background: color-mix(in oklch, var(--gray-seed), var(--tint-soft) 96%);
        --color-surface: color-mix(in oklch, var(--gray-seed), var(--tint-soft) 70%);
        --color-surface-raised: color-mix(in oklch, var(--gray-seed), var(--tint-soft) 65%);

        /*  ------------------------------------------------------------------------
        /*  Strokes                                                                     
        /*  ------------------------------------------------------------------------ */
        --color-stroke: var(--color-neutral-stroke-softer);
        --color-stroke-strong: var(--color-neutral-stroke-mid); 
        --color-stroke-hover: var(--color-primary-stroke-mid); 

        /*  ------------------------------------------------------------------------
        /*  Special colors                                                                     
        /*  ------------------------------------------------------------------------ */
        --color-button-hover: var(--color-primary-fill-softer);
        --color-button-active: var(--color-primary-fill-loud);

        --color-icon: var(--color-text-weak);
        --color-icon-hover: var(--color-text);

        --focus-shadow: 0 0 0 var(--size-1) var(--color-primary-stroke-mid);

        --border-width: 1px;
        --border: var(--border-width) solid var(--color-stroke);
        --border-strong: var(--border-width) solid var(--color-stroke-strong);
    }
}
