@layer semantics {
  [data-theme="dark"] {

    --tint-loud: white;
    --tint-soft: black;
    --accent-seed: var(--green-seed);


    /*  ------------------------------------------------------------------------
    /*  Colors - Text                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-text: color-mix( in oklch, var(--gray-seed) 40%,  var(--tint-loud) 100%  );
    --color-text-weak: color-mix( in oklch, var(--gray-seed) 50%,  var(--tint-loud) 50% );
    --color-text-weaker: color-mix( in oklch, var(--gray-seed) 30%,  var(--tint-loud) 50% );
    --color-text-weakest: color-mix( in oklch, var(--gray-seed) 10%,  var(--tint-loud) 30% );

    --color-text-link: color-mix( in oklch, var(--accent-seed) 100%,  var(--tint-loud) 50% );

    /*  ------------------------------------------------------------------------
    /*  Colors - Backgrounds                                                                    
    /*  ------------------------------------------------------------------------ */
    --color-background: color-mix(in oklch, var(--gray-seed) 10%, var(--tint-soft) 90%);
    --color-surface: color-mix(in oklch, var(--gray-seed) 40%, var(--tint-soft) 85%);
    --color-surface-raised: color-mix(in oklch, var(--gray-seed) 50%, var(--tint-soft) 70%);

    /*  ------------------------------------------------------------------------
    /*  Strokes                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-stroke: color-mix(in oklch, var(--gray-seed) 20%, var(--tint-loud) 10%);
    --color-stroke-strong: color-mix(in oklch, var(--gray-seed) 20%, var(--tint-loud) 30%);
    --color-stroke-hover: color-mix(in oklch, var(--accent-seed) 20%, var(--tint-loud) 45%);



    /*  ------------------------------------------------------------------------
    /*  Special colors                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-button-hover: var(--color-accent-fill-softer);
    --color-button-active: var(--color-accent-fill-loud);

    --color-icon: var(--color-text-weak);
    --color-icon-hover: var(--color-text);

    --focus-shadow: 0 0 0 var(--size-1) var(--color-accent-stroke-mid);

    --border-width: 1px;
    --border: var(--border-width) solid var(--color-stroke);
    --border-strong: var(--border-width) solid var(--color-stroke-strong);
  }
}
