@layer semantics {
  [data-theme="dark"] {

    --tint-loud: white;
    --tint-soft: black;
    --accent-seed: var(--green-seed);

    --color-accent: color-mix( in oklch, var(--accent-seed) 50%,  var(--tint-loud) 50% );

    /*  ------------------------------------------------------------------------
    /*  Colors - Text                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-text: color-mix( in oklch, var(--gray-seed) 40%,  var(--tint-loud) 100%  );
    --color-text-weak: color-mix( in oklch, var(--gray-seed) 50%,  var(--tint-loud) 50% );
    --color-text-weaker: color-mix( in oklch, var(--gray-seed) 30%,  var(--tint-loud) 50% );
    --color-text-weakest: color-mix( in oklch, var(--gray-seed) 10%,  var(--tint-loud) 30% );

    --color-text-link: color-mix( in oklch, var(--accent-seed) 100%,  var(--tint-loud) 50% );

    --color-text-on-accent: color-mix( in oklch, var(--accent-seed) 100%,  var(--tint-soft) 70% );

    /*  ------------------------------------------------------------------------
    /*  Colors - Backgrounds                                                                    
    /*  ------------------------------------------------------------------------ */
    --color-background: color-mix(in oklch, var(--gray-seed) 10%, var(--tint-soft) 90%);
    --color-surface: color-mix(in oklch, var(--gray-seed) 40%, var(--tint-soft) 85%);
    --color-surface-raised: color-mix(in oklch, var(--gray-seed) 50%, var(--tint-soft) 70%);

    /*  ------------------------------------------------------------------------
    /*  Borders                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-border: color-mix(in oklch, var(--gray-seed) 20%, var(--tint-loud) 10%);
    --color-border-strong: color-mix(in oklch, var(--gray-seed) 20%, var(--tint-loud) 30%);
    --color-border-hover: color-mix(in oklch, var(--accent-seed) 20%, var(--tint-loud) 45%);



    /*  ------------------------------------------------------------------------
    /*  Special colors                                                                     
    /*  ------------------------------------------------------------------------ */
    --color-button-hover: color-mix( in oklch, var(--accent-seed) 30%,  var(--tint-loud) 70% );
    --color-button-active: color-mix( in oklch, var(--accent-seed) 60%,  var(--tint-loud) 40% );

    --color-icon: var(--color-text-weak);
    --color-icon-hover: var(--color-text);

    /* TODO: how do i make opacity*/
    --focus-shadow: 0 0 0 var(--size-1) hsla(var(--color-accent), 0.5);

    --border-width: 1px;
    --border: var(--border-width) solid var(--color-border);
    --border-strong: var(--border-width) solid var(--color-border-strong);
  }
}
