@import "./light-theme.css";
@import "./dark-theme.css";

@layer semantic {

    [data-theme="light"],
    [data-theme="dark"],
    :root {

        --h1: var(--font-weight-bold) 2rem/1.1 var(--ff-display);
        --h2: var(--font-weight-medium) 1.5rem/1.1 var(--ff);
        --p: var(--font-weight-regular) 1rem/1.4 var(--ff);
        --p2: var(--font-weight-regular) 0.875rem/1.4 var(--ff);

        /*  ------------------------------------------------------------------------
        /*  Sizing                                                                     
        /*  ------------------------------------------------------------------------ */
        --menu-height: var(--size-6);
        --body-margin: var(--size-fluid-2);

        /*  ------------------------------------------------------------------------
        /*  Colors                                                                     
        /*  ------------------------------------------------------------------------ */
        --color-primary-seed: var(--green-seed);
        --color-neutral-seed: #8b8c93;
        --color-constructive-seed: #5dbb55;
        --color-destructive-seed: #ef5655;


        --color-primary-50: color-mix(in oklab, var(--color-primary-seed), white 95%);
        --color-primary-100: color-mix(in oklab, var(--color-primary-seed), white 87%);
        --color-primary-200: color-mix(in oklab, var(--color-primary-seed), white 70%);
        --color-primary-300: color-mix(in oklab, var(--color-primary-seed), white 47%);
        --color-primary-400: color-mix(in oklab, var(--color-primary-seed), white 23%);
        --color-primary-500: var(--color-primary-seed);
        --color-primary-600: color-mix(in oklab, var(--color-primary-seed), black 15.5%);
        --color-primary-700: color-mix(in oklab, var(--color-primary-seed), black 28.25%);
        --color-primary-800: color-mix(in oklab, var(--color-primary-seed), black 43.5%);
        --color-primary-900: color-mix(in oklab, var(--color-primary-seed), black 58.5%);
        --color-primary-950: color-mix(in oklab, var(--color-primary-seed), black 73.75%);

        --color-neutral-50: color-mix(in oklab, var(--color-neutral-seed), white 95%);
        --color-neutral-100: color-mix(in oklab, var(--color-neutral-seed), white 87%);
        --color-neutral-200: color-mix(in oklab, var(--color-neutral-seed), white 70%);
        --color-neutral-300: color-mix(in oklab, var(--color-neutral-seed), white 47%);
        --color-neutral-400: color-mix(in oklab, var(--color-neutral-seed), white 23%);
        --color-neutral-500: var(--color-neutral-seed);
        --color-neutral-600: color-mix(in oklab, var(--color-neutral-seed), black 15.5%);
        --color-neutral-700: color-mix(in oklab, var(--color-neutral-seed), black 28.25%);
        --color-neutral-800: color-mix(in oklab, var(--color-neutral-seed), black 43.5%);
        --color-neutral-900: color-mix(in oklab, var(--color-neutral-seed), black 58.5%);
        --color-neutral-950: color-mix(in oklab, var(--color-neutral-seed), black 73.75%);

        --color-constructive-50: color-mix(in oklab, var(--color-constructive-seed), white 95%);
        --color-constructive-100: color-mix(in oklab, var(--color-constructive-seed), white 87%);
        --color-constructive-200: color-mix(in oklab, var(--color-constructive-seed), white 70%);
        --color-constructive-300: color-mix(in oklab, var(--color-constructive-seed), white 47%);
        --color-constructive-400: color-mix(in oklab, var(--color-constructive-seed), white 23%);
        --color-constructive-500: var(--color-constructive-seed);
        --color-constructive-600: color-mix(in oklab, var(--color-constructive-seed), black 15.5%);
        --color-constructive-700: color-mix(in oklab, var(--color-constructive-seed), black 28.25%);
        --color-constructive-800: color-mix(in oklab, var(--color-constructive-seed), black 43.5%);
        --color-constructive-900: color-mix(in oklab, var(--color-constructive-seed), black 58.5%);
        --color-constructive-950: color-mix(in oklab, var(--color-constructive-seed), black 73.75%);

        --color-destructive-50: color-mix(in oklab, var(--color-destructive-seed), white 95%);
        --color-destructive-100: color-mix(in oklab, var(--color-destructive-seed), white 87%);
        --color-destructive-200: color-mix(in oklab, var(--color-destructive-seed), white 70%);
        --color-destructive-300: color-mix(in oklab, var(--color-destructive-seed), white 47%);
        --color-destructive-400: color-mix(in oklab, var(--color-destructive-seed), white 23%);
        --color-destructive-500: var(--color-destructive-seed);
        --color-destructive-600: color-mix(in oklab, var(--color-destructive-seed), black 15.5%);
        --color-destructive-700: color-mix(in oklab, var(--color-destructive-seed), black 28.25%);
        --color-destructive-800: color-mix(in oklab, var(--color-destructive-seed), black 43.5%);
        --color-destructive-900: color-mix(in oklab, var(--color-destructive-seed), black 58.5%);
        --color-destructive-950: color-mix(in oklab, var(--color-destructive-seed), black 73.75%);

        /* This makes nested colorschemes work */
        color: var(--color-text);



        /*  ------------------------------------------------------------------------
        /*  Form tokens                                                                     
        /*  ------------------------------------------------------------------------ */
        --color-input-fill: var(--color-surface);
        --color-input-stroke: var(--color-stroke);
        --color-input-text: var(--color-primary-text-on-soft);

        --color-input-stroke-focus: var(--color-primary-stroke-softer);
        --color-input-text-focus: var(--color-primary-text-on-soft);

        --color-input-fill-error: var(--color-surface);
        --color-input-stroke-focus-error: var(--color-destructive-stroke-mid);
        --color-input-text-focus-error: var(--color-destructive-text-on-soft);

        --radius-input: 0;

        /*  ------------------------------------------------------------------------
        /*  Box                                                                     
        /*  ------------------------------------------------------------------------ */
        --radius-box: 0; /* Previously radius-2*/

        /*  ------------------------------------------------------------------------
        /*  Focus outline                                                                     
        /*  ------------------------------------------------------------------------ */
        --outline-size: max(2px, 0.08em);
        --outline-style: solid;
        --outline-color: var(--color-primary-fill-mid);
        --outline-offset-value: var(--outline-size);

        --outline: var(--outline-size) var(--outline-style) var(--outline-color);
        --outline-offset: var(--outline-offset-value);
    }

}
