:host {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    row-gap: var(--size-1);
    align-items: center;
}


.input-description {
    font: var(--p2);
    color: var(--color-text-softer);
}

label {
    color: var(--color-text-mid);
    font-family: var(--ff-display);
}

.error {
    display: none;
    grid-column: 2/2;
    corner-shape: squircle;
    border-radius: var(--radius-input);
    color: var(--color-destructive-text-on-soft);
    background-color: var(--color-destructive-fill-soft);
    border: var(--border-width) solid var(--color-destructive-stroke-soft);
    padding-inline: var(--size-2);
}


.input-wrapper {
    /* Shape */
    corner-shape: squircle;
    border-radius: var(--radius-input);

    /* Color */
    background: var(--color-input-fill);
    border: var(--border-width) solid var(--color-input-stroke);
    color: var(--color-input-text);
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-width: var(--outline-size);
    outline-style: var(--outline-style);
    outline-color: transparent;

    /* Layout */
    display: flex;
    align-items: center;
    overflow: clip;
    max-width: 100%;
    min-width: 0;
    padding-inline: var(--size-2);
    flex-wrap: wrap;

    &:has(input:focus) {
        outline: var(--outline);
        outline-offset: var(--outline-offset);
    }

    /* Slots take content size only */
    slot[name="before"],
    slot[name="after"],
    slot[name="clear"] {
        flex-shrink: 0;
        align-items: center;
        display: contents;
    }


    slot[name="clear"] {
        button {
            display: contents;
            cursor: pointer;
            color: var(--color-text-softer);

            &:hover {
                color: var(--color-text-mid);
            }
        }

        &[hidden] {
            display: none;
        }

    }

    input {
        font-size: max(var(--font-size-1), 16px);
        display: block;
        flex: 1;
        min-width: 0;
        background: none;
        border: none;
        padding-block: var(--size-2);
        color: hsl(var(--color-text));
        padding-inline: var(--size-2);
        min-width: min(100% , 10ch);

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-text-softer);
        }
    }
}

:host([size]) {
    .input-wrapper {
        max-width: max-content;  /* Shrink to fit content */
        flex: 0 0 auto;  /* Don't grow */
    }
    input {
        flex: 0 0 auto;  /* Don't grow or shrink */
        width: auto;     /* Let size attribute control width */
    }
}

:host([disabled]) {
    opacity: .5;
}

:host([readonly]) {
    opacity: .7;

    input {
        color: var(--color-neutral-);
    }
}

:host(:state(user-invalid)) {
    .error {
        display: inline-block;
    }
}
