@layer layouts {
    .component-system-page {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "nav"
            "title"
            "content";
        min-height: 100vh;

        nav {
            padding-top: var(--size-fluid-1);
            grid-area: nav;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: fixed;
            z-index: var(--layer-3);

            ul {
                left: 0;
                list-style: none;
                margin: 0;
                display: flex;
                gap: var(--size-fluid-1);
                padding: 0 var(--size-4);

                li {
                    a {
                        display: inline-flex;
                        gap: var(--size-1);
                        color: hsl(var(--color-text));
                        text-decoration: none;

                        &:before {
                            content: "(";
                        }

                        &:after {
                            content: ")";
                        }

                        &:hover {
                            color: hsl(var(--color-accent));

                            &:before {
                                content: "[";
                            }

                            &:after {
                                content: "]";
                            }
                        }
                    }
                }
            }

            .form {
                right: 0;
            }
        }

        .page-title {
            grid-area: title;
            padding-inline: var(--size-fluid-2);
            padding-block: var(--size-fluid-4);
            min-height: var(--size-content-2);
            display: flex;
            flex-direction: column;
            justify-content: center;


            h1 {
                font: bold 7rem/1.4 var(--ff-display);
            }

            p {
                font: var(--p2);
                color: hsl(var(--color-text-weak));
            }
        }

        main {
            grid-area: content;
            display: flex;
            flex-direction: column;
            border-top: var(--border-width) solid hsl(var(--color-border));

            >section {
                border: 1px solid var(--color-boder);
                color: hsl(var(--color-text-weak));

                .category-title {
                    position: sticky;
                    top: 0;
                    padding: var(--size-fluid-3);
                    background: hsl(var(--color-background));
                    z-index: var(--layer-2);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: hsl(var(--color-surface));

                    h2 {
                        font: var(--h2);
                        color: hsl(var(--color-text));
                    }

                    p {
                        font: var(--p2);
                        max-width: var(--size-content-3);
                    }
                }

                .part {
                    display: grid;
                    grid-template-columns: 1fr;

                    .documentation,
                    .example {
                        padding: var(--size-fluid-2);
                    }

                    .documentation {
                        position: sticky;
                        /* TODO: Should not be static */
                        top: 6.3rem;
                        background: hsl(var(--color-surface));
                        z-index: var(--layer-1);
                    }

                    .example {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: var(--size-fluid-1);

                        &[data-layout="row"] {
                            flex-direction: row;
                        }

                        .example-grid {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;

                            div {
                                padding: var(--size-fluid-1);
                            }
                        }


                        &.background-patterns-section {
                            .background-pattern {
                                width: var(--size-fluid-7);
                                aspect-ratio: 2/1;
                            }
                        }
                    }
                }
            }
        }
    }



    .box-example {
        display: flex;
        flex-direction: column;
        padding: var(--size-fluid-1);
        gap: var(--size-fluid-1);
        align-items: center;
    }

    .box-elevation-example {
        display: flex;
        gap: var(--size-fluid-1);
    }

}

@media (min-width: 768px) {
    .part {
        grid-template-columns: var(--size-14) 1fr;
    }

    .documentation {
        position: sticky;
        top: 7.3rem;
        align-self: flex-start;
    }
}

@media (min-width: 1000px) {
    .part {
        grid-template-columns: var(--size-content-2) 1fr;
    }
}
