@layer reset, foundations, semantics, base, utils, components, layouts;

@import "./reset.css";
@import "./foundation/foundation.css";
@import "./semantic/semantic.css";
@import "./base/forms.css";
@import "./utils.css";
@import "./components.css";
@import "./layouts.css";

/* White: rgb(255, 252, 247) hsl(38, 100, 98,4) */
/* Black: 0, 0, 0 */

@layer base {
    body {
        background: hsl(var(--color-background));
        color: hsl(var(--color-text));
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation-duration: 0.1s;
    }

    body {
        font-size: 17px;
        font-family: var(--ff);
        background-color: hsl(var(--color-background));
        color: hsl(var(--color-text));
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: hsl(var(--color-text));
        font: var(--p);
    }

    a,
    a:active {
        color: hsl(var(--color-text-link));
    }
}

