@layer utils {
  [data-justify="center"] {
    justify-content: center;
  }
  [data-justify="start"] {
    justify-content: start;
  }
  [data-justify="end"] {
    justify-content: end;
  }
  [data-justify="between"] {
    justify-content: space-between;
  }
  [data-justify="evenly"] {
    justify-content: space-evenly;
  }
  [data-justify="around"] {
    justify-content: space-around;
  }

  [data-items="center"] {
    align-items: center;
  }
  [data-align="start"] {
    align-items: start;
  }
  [data-align="center"] {
    align-items: center;
  }
  [data-align="end"] {
    align-items: end;
  }
  [data-align="baseline"] {
    align-items: baseline;
  }
  [data-align="stretch"] {
    align-items: stretch;
  }
  [data-items="end"] {
    align-items: end;
  }
  [data-items="baseline"] {
    align-items: baseline;
  }
  [data-items="stretch"] {
    align-items: stretch;
  }
}
