@layer utils {
    .border { border: var(--border); }
    .border-strong { border: var(--border); }

    .border-i { border-inline: var(--border); }
    .border-i-strong { border-inline: var(--border-strong); }

    .border-is { border-inline-start: var(--border); }
    .border-is-strong { border-inline-start: var(--border-strong); }

    .border-ie { border-inline-end: var(--border); }
    .border-ie-strong { border-inline-end: var(--border-strong); }

    .border-b { border-block: var(--border); }
    .border-b-strong { border-block: var(--border-strong); }

    .border-bs { border-block-start: var(--border); }
    .border-bs-strong { border-block-start: var(--border-strong); }

    .border-be { border-block-end: var(--border); }
    .border-b-strong { border-block-end: var(--border-strong); }
}
