@layer utils {
    .gap-000 { gap: var(--size-000); }
    .gap-00 { gap: var(--size-000); }
    .gap-1  { gap: var(--size-1); }
    .gap-2  { gap: var(--size-2); }
    .gap-3  { gap: var(--size-3); }
    .gap-4  { gap: var(--size-4); }
    .gap-5  { gap: var(--size-5); }
    .gap-6  { gap: var(--size-6); }
    .gap-7  { gap: var(--size-7); }
    .gap-8  { gap: var(--size-8); }
    .gap-9  { gap: var(--size-9); }
    .gap-10 { gap: var(--size-10); }
    .gap-11 { gap: var(--size-11); }
    .gap-12 { gap: var(--size-12); }
    .gap-13 { gap: var(--size-13); }
    .gap-14 { gap: var(--size-14); }
    .gap-15 { gap: var(--size-15); }

    .gap-fluid-1 { gap: var(--size-fluid-1); }
    .gap-fluid-2 { gap: var(--size-fluid-2); }
    .gap-fluid-3 { gap: var(--size-fluid-3); }
    .gap-fluid-4 { gap: var(--size-fluid-4); }
    .gap-fluid-5 { gap: var(--size-fluid-5); }
    .gap-fluid-6 { gap: var(--size-fluid-6); }
    .gap-fluid-7 { gap: var(--size-fluid-7); }
    .gap-fluid-8 { gap: var(--size-fluid-8); }
    .gap-fluid-9 { gap: var(--size-fluid-9); }
    .gap-fluid-10 { gap: var(--size-fluid-10); }
}
