@layer utils {
  [data-gap="000"] { gap: var(--size-000); }
  [data-gap="00"] { gap: var(--size-00); }
  [data-gap="1"] { gap: var(--size-1); }
  [data-gap="2"] { gap: var(--size-2); }
  [data-gap="3"] { gap: var(--size-3); }
  [data-gap="4"] { gap: var(--size-4); }
  [data-gap="5"] { gap: var(--size-5); }
  [data-gap="6"] { gap: var(--size-6); }
  [data-gap="7"] { gap: var(--size-7); }
  [data-gap="8"] { gap: var(--size-8); }
  [data-gap="9"] { gap: var(--size-9); }
  [data-gap="10"] { gap: var(--size-10); }
  [data-gap="11"] { gap: var(--size-11); }
  [data-gap="12"] { gap: var(--size-12); }
  [data-gap="13"] { gap: var(--size-13); }
  [data-gap="14"] { gap: var(--size-14); }
  [data-gap="15"] { gap: var(--size-15); }
  [data-gap="fluid-1"] { gap: var(--size-fluid-1); } 
  [data-gap="fluid-2"] { gap: var(--size-fluid-2); } 
  [data-gap="fluid-3"] { gap: var(--size-fluid-3); } 
  [data-gap="fluid-4"] { gap: var(--size-fluid-4); } 
  [data-gap="fluid-5"] { gap: var(--size-fluid-5); } 
  [data-gap="fluid-6"] { gap: var(--size-fluid-6); } 
  [data-gap="fluid-7"] { gap: var(--size-fluid-7); } 
  [data-gap="fluid-8"] { gap: var(--size-fluid-8); } 
  [data-gap="fluid-9"] { gap: var(--size-fluid-9); } 
  [data-gap="fluid-10"] { gap: var(--size-fluid-10); } 
}
