:host { 
    display: grid;
}

ul {
    display: grid;
    overflow: visible; 

    .name {
        font: var(--h2);
    }

    .description {
        font: var(--p2);
    }

    li {
        padding: var(--size-fluid-1);
    }
}
