@layer components {
  :where(.box) {
    --_color-background: hsl(var(--color-background));

    text-decoration: none;
    color: hsl(var(--color-text));
    background-color: var(--_color-background);
    box-shadow: var(--shadow);
    border: var(--border);
    overflow: hidden;
    border-radius: var(--radius-3);
    max-width: 100%;
    padding: var(--size-fluid-1);

    &[data-rounded="false"] {
      border-radius: 0;
    }

    &[data-padded="false"] {
      padding: 0;
    }

    &[data-variant="surface"] {
      --_color-background: hsl(var(--color-surface));
    }

    &[data-variant="surface-raised"] {
      --_color-background: hsl(var(--color-surface-raised));
    }

    &[data-variant="surface-lowered"] {
      --_color-background: hsl(var(--color-surface-lowered));
    }
  }
}
