@import url('@maxhill/css/utils.css');

:host {
    display: grid;
    gap: var(--size-1);
    padding: var(--size-1);
    border: var(--border);
    border-radius: var(--radius-2);
}

:host([disabled]) {
    opacity: 0.5;
}
