---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    metadata: Record<string, string>;
}

const { metadata, class: className, ...rest } = Astro.props;
---

<div
    class:list={["document", "content-grid", "typesetting", className]}
    {...rest}
>
    <div class="document-metadata content-grid" data-width="full">
        <dl>
            {
                Object.entries(metadata).map(([key, value]) => (
                    <>
                        <dt>{key}:</dt>
                        <dd>{value}</dd>
                    </>
                ))
            }
        </dl>
    </div>
    <slot />
</div>

<style>
    .document {
        --_content-max-width: 700px;
        --_breakout-max-width: 850px;

        z-index: var(--layer-1);
        background: var(--color-background);
        opacity: 0.3;
        transition: opacity 0.3s ease;
        overflow-x: hidden;
        overflow-y: auto;
        width: 1000px;
        max-width: calc(100vw - var(--body-margin) * 2);
        padding-block-end: var(--size-fluid-3);

        container-type: inline-size;

        &.visible {
            opacity: 1;
        }
    }

    .document-metadata {
        --_content-max-width: 700px;
        --_breakout-max-width: 850px;
        border-bottom: var(--border);
        dl {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: var(--size-1);
            padding-block: 1lh;
            align-items: center;
            dt {
                font: var(--p2);
                text-transform: uppercase;
                color: var(--color-text-weaker);
                text-align: end;
            }
        }
    }
</style>
