@layer reset, foundations, semantics, base, utils, components, layouts;

@import "reset.css";
@import "foundation/foundation.css";
@import "semantic/semantic.css";
@import "utils.css";
@import "components.css";
@import "layouts.css";

@layer base {
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        tab-size: 2;
        word-break: break-word;
        /* Allow transition to height auto */
        interpolate-size: allow-keywords;

        /* Don't smooth scroll if cmd+f search */
        &:focus-within {
            scroll-behavior: smooth;
        }
    }

    body {
        background: hsl(var(--color-background));
        color: hsl(var(--color-text));
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation-duration: 0.1s;
    }

    body {
        font-size: 17px;
        font-family: var(--ff);
        background-color: hsl(var(--color-background));
        color: hsl(var(--color-text));
    }

    /* TODO: this cannot only be on the element. 
     * Utility classes are in utils.css */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: hsl(var(--color-text));
        font: var(--p);
        letter-spacing: -0.03rem;
    }

    p,
    li,
    dd {
        text-wrap: pretty;
        max-inline-size: 88ch;
    }

    a,
    a:active {
        color: hsl(var(--color-text-link));
        text-underline-offset: 2px;

        &:not(:is(:hover, :focus)) {
            text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
        }
    }

    ul,
    ol,
    dl {
        margin: 0;
        padding: 0;
        list-style-position: inside;

        ul,
        ol,
        dl {
            padding-inline-start: 2ch;
        }
    }

    /*TODO: resolve potential conflict with reset.css*/
    ul[class],
    ol[class] {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}
