:host {
    display: block;
}

:host([multiple]) { 
    display: flex;
}

/* :host([multiple]) #multi-select-list { */
/*     display: block; */
/*     background: orange; */
/*     width: 100px; */
/*     height: 1lh; */
/* } */

.box {
    text-decoration: none;
    background-color: var(--color-background, white);
    box-shadow: var(--shadow, 0 1px 3px rgba(0,0,0,0.1));
    border: var(--border, 1px solid);
    border-color: var(--color-stroke, #ccc);
    border-radius: var(--radius-2, 8px);
    padding: var(--size-fluid-1, 1rem);
}

m-listbox {
    display: none;
    &:popover-open {
        display: grid;
    }
}

m-option[data-match="false"][aria-selected="false"] {
    display: none;
}
