:host {
    display: grid;
}

:host([multiple]) { 
    display: grid;
}

m-input {
    width: 100%;
}

.box {
     width: max-content;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      box-sizing: border-box;
      overflow: scroll;
    text-decoration: none;
    background-color: var(--color-background, white);
    box-shadow: var(--shadow, 0 1px 3px rgba(0,0,0,0.1));
    border: var(--border, 1px solid);
    border-color: var(--color-stroke, #ccc);
    border-radius: var(--radius-2, 8px);
    padding: var(--size-fluid-1, 1rem);
}


m-option[data-match="false"][aria-selected="false"] {
    display: none;
}
