:host {
    display: grid;
}

:host([multiple]) {
    display: grid;
}

m-input {
    width: 100%;
}

.box {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;

    gap: var(--size-1);

    background-color: var(--color-background);
    border: var(--border, 1px solid);
    border-color: var(--color-stroke);
    border-radius: var(--radius-box);
    padding: var(--size-fluid-1);

}

.box[open] {
display: grid;
}


m-option[data-match="false"][aria-selected="false"] {
    display: none;
}
