:host {
    display: grid;
}

:host([multiple]) {
    display: grid;
}

m-input {
    width: 100%;
}

.box {
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;

    background-color: var(--color-background);
    border: var(--border, 1px solid);
    border-color: var(--color-stroke);
    border-radius: var(--radius-box);
    padding: var(--size-2);

}

.box:popover-open {
    display: grid;
    gap: var(--size-1);
    align-content: start;
}

#multi-select-list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-block: var(--size-1);

    display: flex;
    gap: var(--size-1);
}

::slotted(m-option[data-match="false"][aria-selected="false"]) {
    display: none;
}
