@layer utils {
  [data-border]:not([data-border="i"]):not([data-border="is"]):not(
      [data-border="ie"]
    ):not([data-border="b"]):not([data-border="bs"]):not([data-border="be"]),
  [data-border="true"] {
    border: var(--border);
  }
  [data-border="i"] {
    border-inline: var(--border);
  }
  [data-border="is"] {
    border-inline-start: var(--border);
  }
  [data-border="ie"] {
    border-inline-end: var(--border);
  }
  [data-border="b"] {
    border-block: var(--border);
  }
  [data-border="bs"] {
    border-block-start: var(--border);
  }
  [data-border="be"] {
    border-block-end: var(--border);
  }

  [data-border]:not([data-border="i"]):not([data-border="is"]):not(
      [data-border="ie"]
    ):not([data-border="b"]):not([data-border="bs"]):not([data-border="be"]),
  [data-border="true"],
  [data-border="i"],
  [data-border="is"],
  [data-border="ie"],
  [data-border="b"],
  [data-border="bs"],
  [data-border="be"] {
    &[data-variant="strong"] {
      border-color: var(--color-stroke-strong);
    }
    &[data-variant="accent"] {
      border-color: var(--color-accent-stroke-mid);
    }
    &[data-variant="neutral"] {
      border-color: var(--color-neutral-stroke-mid);
    }
    &[data-variant="constructive"] {
      border-color: var(--color-constructive-stroke-mid);
    }
    &[data-variant="destructive"] {
      border-color: var(--color-destructive-stroke-mid);
    }
  }
}
