@layer utils {
  [data-border]:not([data-border="i"]):not([data-border="is"]):not(
      [data-border="ie"]
    ):not([data-border="b"]):not([data-border="bs"]):not([data-border="be"]),
  [data-border="true"] {
    border: var(--border);
  }
  [data-border="i"] {
    border-inline: var(--border);
  }
  [data-border="is"] {
    border-inline-start: var(--border);
  }
  [data-border="ie"] {
    border-inline-end: var(--border);
  }
  [data-border="b"] {
    border-block: var(--border);
  }
  [data-border="bs"] {
    border-block-start: var(--border);
  }
  [data-border="be"] {
    border-block-end: var(--border);
  }

  [data-border]:not([data-border="i"]):not([data-border="is"]):not(
      [data-border="ie"]
    ):not([data-border="b"]):not([data-border="bs"]):not([data-border="be"]),
  [data-border="true"],
  [data-border="i"],
  [data-border="is"],
  [data-border="ie"],
  [data-border="b"],
  [data-border="bs"],
  [data-border="be"] {
    &[data-variant="strong"] {
      border-color: var(--color-border-strong);
    }
    &[data-variant="danger"] {
      border-color: hsl(var(--color-border-danger));
    }
    &[data-variant="success"] {
      border-color: hsl(var(--color-border-success));
    }
    &[data-variant="neutral"] {
      border-color: hsl(var(--color-border-neutral));
    }
    &[data-variant="info"] {
      border-color: hsl(var(--color-border-info));
    }
    &[data-variant="warning"] {
      border-color: hsl(var(--color-border-warning));
    }
  }
}
