@layer utils {
  [data-gap~="000"] { gap: var(--size-000); }
  [data-gap~="00"] { gap: var(--size-00); }
  [data-gap~="0"] { gap: 0; }
  [data-gap~="1"] { gap: var(--size-1); }
  [data-gap~="2"] { gap: var(--size-2); }
  [data-gap~="3"] { gap: var(--size-3); }
  [data-gap~="4"] { gap: var(--size-4); }
  [data-gap~="5"] { gap: var(--size-5); }
  [data-gap~="6"] { gap: var(--size-6); }
  [data-gap~="7"] { gap: var(--size-7); }
  [data-gap~="8"] { gap: var(--size-8); }
  [data-gap~="9"] { gap: var(--size-9); }
  [data-gap~="10"] { gap: var(--size-10); }
  [data-gap~="11"] { gap: var(--size-11); }
  [data-gap~="12"] { gap: var(--size-12); }
  [data-gap~="13"] { gap: var(--size-13); }
  [data-gap~="14"] { gap: var(--size-14); }
  [data-gap~="15"] { gap: var(--size-15); }
  [data-gap~="fluid-1"] { gap: var(--size-fluid-1); } 
  [data-gap~="fluid-2"] { gap: var(--size-fluid-2); } 
  [data-gap~="fluid-3"] { gap: var(--size-fluid-3); } 
  [data-gap~="fluid-4"] { gap: var(--size-fluid-4); } 
  [data-gap~="fluid-5"] { gap: var(--size-fluid-5); } 
  [data-gap~="fluid-6"] { gap: var(--size-fluid-6); } 
  [data-gap~="fluid-7"] { gap: var(--size-fluid-7); } 
  [data-gap~="fluid-8"] { gap: var(--size-fluid-8); } 
  [data-gap~="fluid-9"] { gap: var(--size-fluid-9); } 
  [data-gap~="fluid-10"] { gap: var(--size-fluid-10); } 

  [data-gap~="r-000"] { row-gap: var(--size-000); }
  [data-gap~="r-00"] { row-gap: var(--size-00); }
  [data-gap~="r-0"] { row-gap: 0; }
  [data-gap~="r-1"] { row-gap: var(--size-1); }
  [data-gap~="r-2"] { row-gap: var(--size-2); }
  [data-gap~="r-3"] { row-gap: var(--size-3); }
  [data-gap~="r-4"] { row-gap: var(--size-4); }
  [data-gap~="r-5"] { row-gap: var(--size-5); }
  [data-gap~="r-6"] { row-gap: var(--size-6); }
  [data-gap~="r-7"] { row-gap: var(--size-7); }
  [data-gap~="r-8"] { row-gap: var(--size-8); }
  [data-gap~="r-9"] { row-gap: var(--size-9); }
  [data-gap~="r-10"] { row-gap: var(--size-10); }
  [data-gap~="r-11"] { row-gap: var(--size-11); }
  [data-gap~="r-12"] { row-gap: var(--size-12); }
  [data-gap~="r-13"] { row-gap: var(--size-13); }
  [data-gap~="r-14"] { row-gap: var(--size-14); }
  [data-gap~="r-15"] { row-gap: var(--size-15); }
  [data-gap~="r-fluid-1"] { row-gap: var(--size-fluid-1); } 
  [data-gap~="r-fluid-2"] { row-gap: var(--size-fluid-2); } 
  [data-gap~="r-fluid-3"] { row-gap: var(--size-fluid-3); } 
  [data-gap~="r-fluid-4"] { row-gap: var(--size-fluid-4); } 
  [data-gap~="r-fluid-5"] { row-gap: var(--size-fluid-5); } 
  [data-gap~="r-fluid-6"] { row-gap: var(--size-fluid-6); } 
  [data-gap~="r-fluid-7"] { row-gap: var(--size-fluid-7); } 
  [data-gap~="r-fluid-8"] { row-gap: var(--size-fluid-8); } 
  [data-gap~="r-fluid-9"] { row-gap: var(--size-fluid-9); } 
  [data-gap~="r-fluid-10"] { row-gap: var(--size-fluid-10); } 

  [data-gap~="c-000"] { column-gap: var(--size-000); }
  [data-gap~="c-00"] { column-gap: var(--size-00); }
  [data-gap~="c-0"] { column-gap: 0; }
  [data-gap~="c-1"] { column-gap: var(--size-1); }
  [data-gap~="c-2"] { column-gap: var(--size-2); }
  [data-gap~="c-3"] { column-gap: var(--size-3); }
  [data-gap~="c-4"] { column-gap: var(--size-4); }
  [data-gap~="c-5"] { column-gap: var(--size-5); }
  [data-gap~="c-6"] { column-gap: var(--size-6); }
  [data-gap~="c-7"] { column-gap: var(--size-7); }
  [data-gap~="c-8"] { column-gap: var(--size-8); }
  [data-gap~="c-9"] { column-gap: var(--size-9); }
  [data-gap~="c-10"] { column-gap: var(--size-10); }
  [data-gap~="c-11"] { column-gap: var(--size-11); }
  [data-gap~="c-12"] { column-gap: var(--size-12); }
  [data-gap~="c-13"] { column-gap: var(--size-13); }
  [data-gap~="c-14"] { column-gap: var(--size-14); }
  [data-gap~="c-15"] { column-gap: var(--size-15); }
  [data-gap~="c-fluid-1"] { column-gap: var(--size-fluid-1); } 
  [data-gap~="c-fluid-2"] { column-gap: var(--size-fluid-2); } 
  [data-gap~="c-fluid-3"] { column-gap: var(--size-fluid-3); } 
  [data-gap~="c-fluid-4"] { column-gap: var(--size-fluid-4); } 
  [data-gap~="c-fluid-5"] { column-gap: var(--size-fluid-5); } 
  [data-gap~="c-fluid-6"] { column-gap: var(--size-fluid-6); } 
  [data-gap~="c-fluid-7"] { column-gap: var(--size-fluid-7); } 
  [data-gap~="c-fluid-8"] { column-gap: var(--size-fluid-8); } 
  [data-gap~="c-fluid-9"] { column-gap: var(--size-fluid-9); } 
  [data-gap~="c-fluid-10"] { column-gap: var(--size-fluid-10); } 
}
