@layer utils {
    .typesetting {
        row-gap: 1rlh;
        display: grid;
        grid-auto-rows: max-content;

        >h1,
        .h1 {
            font: var(--h1);
            font-size: var(--font-size-8);
        }

        >h2,
        .h2 {
            font-size: var(--font-size-7);
        }

        >h3,
        .h3 {
            font-size: var(--font-size-6);
        }

        >h4,
        .h4 {
            font-size: var(--font-size-5);
        }

        >h5,
        .h5 {
            font-size: var(--font-size-4);
        }

        >h6,
        .h6 {
            font-size: var(--font-size-3);
        }

        >h1,
        >.h1,
        >h2,
        >.h2,
        >h3,
        >.h3,
        >h4,
        >.h4,
        >h5,
        >.h5,
        >h6,
        >.h6 {
            font-weight: var(--font-weight-bold);
        }

        >h1,
        >.h1,
        >h2,
        >.h2,
        >h3,
        >.h3,
        >h4,
        >.h4,
        >h5,
        >.h5,
        >h6,
        >.h6,
        >hr,
        >code,
        >pre {
            margin-top: calc(1lh - 1rlh);
        }

        hr {
            margin-bottom: calc(var(--size-fluid-1) * -1);
            border: 0;
            border-block-end: var(--border);
            grid-column: full;
            width: 100%;
        }

        &>pre {
            margin-bottom: 0;
            padding: var(--size-fluid-2);
            border: var(--border);
            border-radius: var(--radius-box);
            font-weight: var(--font-weight-medium);
        }

        code:not(pre > code) {
            padding-inline: var(--size-1);
            padding-block: .1ch;
            border: var(--border);
            border-radius: var(--radius-box);
            color: var(--color-primary-text-colorful);
            font-weight: var(--font-weight-medium);
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}
