@layer utils {
    .typesetting {
        gap: 1rlh;
        display: grid;

        >h1,
        >h2,
        >h3,
        >h4,
        >h5,
        >h6,
        >hr,
        >code {
            margin-top: calc(1lh - 1rlh);
        }

        hr {
            margin-bottom: calc(var(--size-fluid-1) * -1);
            width: 100%;
            border: 0;
            border-block-end: var(--border);
        }

        code {
            padding-inline: var(--size-1);
            padding-block: .1ch;
            background: var(--color-surface);
            border: var(--border);
            border-radius: var(--radius-2);
            color: var(--color-primary-text-colorful);
            font-weight: var(--font-weight-medium);
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}
