:host {
    --_color-background: var(--color-surface);
    --_title-background: var(--color-surface-raised);
    --_padding-inline: var(--size-fluid-1);
    --_padding-block: var(--size-1);

    text-decoration: none;
    color: hsl(var(--color-text));
    background-color: var(--_color-background);
    box-shadow: var(--shadow);
    border: var(--border);
    corner-shape: squircle;
    border-radius: var(--radius-box);
    max-width: 100%;
    height: min-content;
    overflow: clip;
    padding: 0;
    display: grid;
    gap: 0;
    grid-template-columns: [full-width-start] var(--_padding-inline) [content-start] 1fr [content-end] var(--_padding-inline) [full-width-end];
}

:host([data-rounded="false"]) {
    border-radius: 0;
}

:host([data-padded="false"]) {
    --_padding-inline: 0;
}

:host([data-variant="outline"]) {
    --_color-background: var(--color-background);
    --_title-background: var(--color-surface);
}

.title,
.footer {
    padding: var(--_padding-block) var(--_padding-inline);
    grid-column: full-width;
}

.title {
    background-color: var(--_title-background);
    border-block-end: var(--border);
    color: var(--color-text-mid);
}

.content-wrapper {
    grid-column: content;
}

.footer {
    font: var(--p2);
    color: var(--color-text-softer);
    border-block-start: var(--border);
}
