[Unit]
Description=auth service
After=network.target
OnFailure=alert-on-failure@%n.service

[Service]
DynamicUser=yes
ProtectSystem=strict
PrivateTmp=yes
StateDirectory=auth
EnvironmentFile=/etc/auth/auth.prod.env
ExecStart=/opt/auth/current/auth-exe run
Restart=on-failure
MemoryMax=512M

[Install]
WantedBy=multi-user.target
