:host {
    display: block;
    padding: var(--size-2);
    cursor: pointer;
    border-radius: var(--radius-box);
    color: var(--color-text);
}


:host(:state(focus)) {
    background: var(--color-neutral-fill-soft);
    color: var(--color-neutral-text-on-soft);
}

:host([aria-selected="true"]) {
    background: var(--color-primary-fill-mid);
    color: var(--color-primary-text-on-mid);
}
