@layer layouts {
    .main-menu {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-padding-inline-end: 5vw;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-behavior: smooth;

        justify-content: space-between;
        padding-inline: var(--size-2);
        position: fixed;
        width: 100%;
        top: 0;
        height: var(--menu-height);



        &>nav {
            a {
                text-decoration: none;
            }
        }
    }

    .design-system-page {
        height: 100dvh;
        overflow: hidden;
        padding-top: var(--menu-height);
        display: grid;
        grid-template-rows: auto;

        >.toggle-menu {
            position: fixed;
            top: 20%;
            left: 0;
            width: var(--size-fluid-4);
            height: var(--size-fluid-5);
            z-index: var(--layer-2);
            background: var(--color-background);
            border: var(--border);
            border-inline-start-width: 0;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        >.main {
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-padding-inline-end: var(--body-margin);
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            scroll-behavior: smooth;

            border-block-start: var(--border);

            >.document,
            >.hero {
                scroll-snap-align: end;
                scroll-behavior: smooth;
            }

            >.hero {
                width: calc(100vw - var(--size-fluid-9));
                max-width: 1000px;
                display: grid;
                place-items: center;
                z-index: var(--layer-3);
                background: var(--color-background);

                m-fit-text {
                    width: 100%;
                }
            }

            >.anchor-menu {
                position: sticky;
                width: var(--size-fluid-9);
                z-index: var(--layer-3);
                width: var(--size-fluid-9);
                background-color: var(--color-background);
                left: calc(var(--size-fluid-9) * -1);
                view-transition-name: anchor-menu;
                animation-duration: 0.2s;

                &.open { left: 0 }
                @media (width > 1350px) { left: 0; }

                >.nav-link {
                    padding: var(--size-fluid-1);
                    text-decoration: none;
                    color: var(--color-text);
                }

                >.nav-link.active {
                    &::before {
                        content: "> ";
                        color: var(--color-text-link);
                    }
                    background: var(--color-surface);
                }
            }

            /* Fade out inactive documents */
            >.document {
                opacity: 0.4;
                transition: opacity 0.4s ease;

                &.visible {
                    opacity: 1;
                }
            }
        }
    }
    ::view-transition-old(anchor-menu),
    ::view-transition-new(anchor-menu) {
      animation-duration: 0.3s;
    }
}

