@layer layouts {
    .main-menu {
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-padding-inline-end: 5vw;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        scroll-behavior: smooth;

        justify-content: space-between;
        padding-inline: var(--size-2);
        position: fixed;
        width: 100%;
        top: 0;
        height: var(--menu-height);



        &>nav {
            a {
                text-decoration: none;
            }
        }
    }

    .design-system-page {
        height: 100dvh;
        overflow: hidden;
        padding-top: var(--menu-height);
        display: grid;
        grid-template-rows: 100dvh;

        >.main {
            overflow-x: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-padding-inline-end: var(--body-margin);
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            scroll-behavior: smooth;

            border-block-start: var(--border);

            >.document,
            >.anchor-menu,
            >.hero {
                scroll-snap-align: end;
                scroll-behavior: smooth;
            }

            >.hero {
                width: calc(100vw - var(--size-fluid-9));
                max-width: 1000px;
                display: grid;
                place-items: center;

                m-fit-text {
                    width: 100%;
                }
            }

            >.anchor-menu {
                position: sticky;
                width: var(--size-fluid-9);
                left: calc(var(--size-fluid-9) * -1);
                z-index: var(--layer-2);
                background-color: var(--color-background);
                overflow: visible;

                &:hover,
                &:focus-within {
                    left: 0;
                    .open-menu {
                        opacity: 0;
                        top: -999999px;
                    }
                }

                .open-menu {
                    position: absolute;
                    top: 50%;
                    right: calc(var(--size-fluid-5) * -1 - var(--border-width));
                    background: var(--color-background);
                    border-inline-start-color: var(--color-background);

                    width: var(--size-fluid-5);
                    aspect-ratio: 1/1;
                    z-index: var(--layer-3);

                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }

                @media (width > 1000px) {
                    left: 0;

                    .open-menu {
                        display: none;
                    }
                }

                >.nav-link {
                    padding: var(--size-fluid-1);
                    text-decoration: none;
                    color: var(--color-text);
                }

                >.nav-link.active {
                    &::before {
                        content: "> ";
                        color: var(--color-text-link);
                    }

                    background: var(--color-surface);
                }
            }

            /* Fade out inactive documents */
            >.document {
                opacity: 0.4;
                transition: opacity 0.4s ease;

                &.visible {
                    opacity: 1;
                }
            }
        }
    }
}
