:host {
    --_padding-block: var(--size-3);
    --_padding-inline: var(--size-3);
    padding: var(--_padding-block) var(--_padding-inline);
}

:host([data-padded="false"]) {
    padding: 0;
}

:host(:not([visible])) {
    display: none !important;
}
