[Unit]
Description=syncdb-server service
After=network.target
OnFailure=alert-on-failure@%n.service

[Service]
DynamicUser=yes
ProtectSystem=strict
PrivateTmp=yes
StateDirectory=syncdb-server
EnvironmentFile=/etc/syncdb-server/syncdb-server.prod.env
ExecStart=/opt/syncdb-server/current/syncdb-server-exe
Restart=on-failure
MemoryMax=512M

[Install]
WantedBy=multi-user.target
