[Unit]
Description=sync service
After=network.target
OnFailure=alert-on-failure@%n.service

[Service]
DynamicUser=yes
ProtectSystem=strict
PrivateTmp=yes
StateDirectory=sync
LoadCredential=config:/etc/sync/sync.prod.json
ExecStart=/opt/sync/current/sync-exe ${CREDENTIALS_DIRECTORY}/config
Restart=on-failure
MemoryMax=512M

[Install]
WantedBy=multi-user.target
