<div class="stack" data-gap="fluid-1">
    <div class="stack" data-gap="1">
        <label for="example-input-text">Text input</label>
        <input id="example-input-text" type="text" />
    </div>

    <div class="stack" data-gap="1">
        <label for="example-input-search">Search input</label>
        <input id="example-input-search" type="search" />
    </div>

    <div class="stack" data-gap="1">
        <label for="example-input-textarea">Textarea input</label>
        <textarea id="example-input-textarea"></textarea>
    </div>


    <div class="stack" data-gap="1">
        <label for="example-input-kitchen-sink">
            Text input kitchen sink
            <p class="input-description">Description...</p>
        </label>
        <input 
            id="example-input-kitchen-sink" 
            name="kitchen-sink"
            type="text" 
            aria-invalid="true"
            aria-errormessage="kitchen-sink-error-message"
        />
        <p 
            id="kitchen-sink-error-message"
            aria-live="true"
            class="p2 error-message" 
        >Something is wrong</p>
    </div>

    <m-input 
        label="Text input kitchen sink" 
        name="kitchen-sink"
        type="text" 
        description="This imput has it all"
        placeholder="Everything..."
        >
    </m-input>
</div>
