<div class="stack" data-gap="fluid-1">
    <div class="stack" data-gap="1">
        <label for="example-input-text">Text input</label>
        <input id="example-input-text" type="text" />
    </div>

    <div class="stack" data-gap="1">
        <label for="example-input-search">Search input</label>
        <input id="example-input-search" type="search" />
    </div>

    <div class="stack" data-gap="1">
        <label for="example-input-textarea">Textarea input</label>
        <textarea id="example-input-textarea"></textarea>
    </div>


    <div class="stack" data-gap="1">
        <label for="example-input-kitchen-sink">Text input kitchen sink</label>
        <p class="p2 input-description">Description...</p>
        <input id="example-input-kitchen-sink" type="text" />
        <p class="p2" data-text="on-destructive-soft" data-background="destructive-soft">Something is wrong</p>
    </div>
</div>
