---
import BaseLayout from "../components/layouts/BaseLayout.astro"
---

<BaseLayout title="Design System">
<h1>Hello</h1>

<my-compo>This is the content dude...</my-compo>
</BaseLayout>

<script>
    import "../components/compo.ts";
</script>
