:host {
    display: block;
    cursor: pointer;
    padding: var(--_padding-block) var(--_padding-inline);
}

:host([aria-selected="true"]) {
    background-color: var(--color-primary-fill-soft);
    color: var(--color-primary-text-on-soft);
    border-style: solid;
    border-color: var(--color-primary-stroke-mid);
    border-width: var(--border-width);
    margin: var(--margin);
}

:host([disabled]) {
    opacity: .4;
}
