@layer components {
  .color-table {
    width: 100%;

    .header {
      display: grid;
      grid-template-columns: var(--size-10) 1fr 1.5fr;
      gap: 0;
      border-bottom: var(--border-width) solid hsl(var(--color-border));
    }

    .header > div {
      padding-block: 0;
      text-align: left;
      word-break: break-word;
    }

    .row {
      border-bottom: var(--border-width) solid hsl(var(--color-border));
    }

    .row:hover {
      background: hsl(var(--color-surface));
    }

    .row:last-child {
      border-bottom: none;
    }

    .row summary {
      display: grid;
      grid-template-columns: var(--size-10) 1fr 1.5fr;
      gap: 0;
      list-style: none;
      cursor: pointer;
    }

    .row summary > div {
      padding-block: 0;
      text-align: left;
      word-break: break-word;
    }

    .row summary > div:nth-child(3) {
      color: hsl(var(--color-text-weaker));
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .row > div {
      padding-block: var(--size-1);
      color: hsl(var(--color-text-weaker));
    }

    .swatch {
      width: var(--size-9);
      height: 100%;
    }
  }
}
