root = "."
testdata_dir = "testdata"
tmp_dir = ".tmp"

[build]
  bin = "./build/main"
  cmd = ""
  args_bin = ["-env=dev"]
  delay = 1
  exclude_dir = [".tmp", "dist", "build/.tmp", "node_modules"]
  exclude_file = []
  exclude_regex = ["_test.go", "node_modules/@maxhill"]
  exclude_unchanged = false
  follow_symlink = true
  full_bin = ""
  include_dir = ["node_modules/@maxhill/components/dist", "node_modules/@maxhill/css/dist"]
  include_ext = ["html", "ts", "js", "css"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 1
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  enabled = true
  proxy_port = 8090
  app_port = 8080

[screen]
  clear_on_rebuild = false
  keep_scroll = true
