@import "@maxhill/css";

/* Project-specific global styles */
:root {
  /* Add any lf-experiment specific CSS variables/overrides here */
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
}
