:host {
    display: grid;

    width: 100%;
    min-height: 100vh;
    
    grid-template-areas: 
    "title title        title"
    "clubs shot-types   form";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr var(--size-content-2);
}

.club-list {
    padding: var(--body-margin);
    grid-area: clubs;
}

.shot-type-list {
    padding: var(--body-margin);
    grid-area: shot-types;
}

.form {
    padding: var(--body-margin);
    grid-area: form;
}
