@layer components {
    :where(.content-grid) {
        --_padding-inline: var(--body-margin, var(--size-fluid-2));
        --_content-max-width: var(--content-width, 1600px);
        --_breakout-max-width: var(--content-breakout-width, 1800px);

        display: grid;
        grid-template-columns: min(1fr, 100%);
        justify-items: center;

        &>* {
            margin-inline: var(--_padding-inline);
            width: min(var(--_content-max-width), 100%);
            min-width: 0;
        }

        &>[data-width="breakout"] {
            width: min(var(--_breakout-max-width), 100%);
        }

        &>[data-width="full"] {
            margin-inline: 0;
            width: 100%;
        }
    }
}
