@layer components {
  :where(.content-grid) {
    --_padding-inline: var(--body-margin);
    --_content-max-width: 1600px;
    --_breakout-max-width: 1800px;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    & > * {
      width: min(var(--_content-max-width), calc(100% - (var(--_padding-inline) * 2)));
    }

    & > [data-width="breakout"] {
      width: min(var(--_breakout-max-width), calc(100% - (var(--_padding-inline) * 2)));
    }

    & > [data-width="full"] {
      width: 100%;
    }
  }
}
