@layer components {
    :where(.content-grid) {
        --gap: var(--body-margin);
        --full: minmax(var(--gap), 1fr);
        --content: min(var(--size-content-3), 100% - var(--gap) * 2);
        --breakout: minmax(0, 20ch);
        --feature: minmax(0, 30ch);

        display: grid;
        justify-items: stretch;
        grid-template-columns:
            [full-start] var(--full) 
            [feature-start] var(--feature) 
            [breakout-start] var(--breakout) 
            [content-start] var(--content) 
            [content-end] var(--breakout) 
            [breakout-end] var(--feature) 
            [feature-end] var(--full) 
            [full-end];
        
        & > * {
          grid-column: content;
        }

        [data-width="breakout"] {
          grid-column: breakout;
        }
        [data-width="feature"] {
          grid-column: feature;
        }
        [data-width="full"] {
          grid-column: full;
        }

    }
}
