@layer components {
  .exposed-grid {
    --_grid-gap: var(--border-width);
    --_cell-border: var(--color-stroke);

    gap: var(--_grid-gap);
    overflow: clip;

    & > *:not(script) {
      box-shadow: 0 0 0 var(--_grid-gap) var(--_cell-border);
    }
  }
}
