@layer components {
  .stack {
    display: flex;
    flex-flow: column wrap;

    &[data-direction="row"] {
      align-items: center;
      flex-direction: row;
    }
  }

  .stack2 {
    display: grid;
    grid-auto-flow: row;

    &[data-direction="row"] {
      grid-auto-flow: column;
      align-items: center;
    }
  }
}
