@layer components {
  :where(.badge) {
    --_color-background: hsl(var(--color-status-neutral-weak));
    --_color-border: hsl(var(--color-stroke-neutral));
    --_color-text: hsl(var(--color-text-neutral));

    background: var(--_color-background);
    border: var(--border-width) solid var(--_color-border);
    color: var(--_color-text);
    padding-inline: var(--size-2);
    border-radius: 99999px;
    font: var(--p2);

    &[data-variant="danger"] {
      --_color-background: hsl(var(--color-status-danger-weak));
      --_color-border: hsl(var(--color-stroke-danger));
      --_color-text: hsl(var(--color-text-danger));
    }

    &[data-variant="success"] {
      --_color-background: hsl(var(--color-status-success-weak));
      --_color-border: hsl(var(--color-stroke-success));
      --_color-text: hsl(var(--color-text-success));
    }

    &[data-variant="info"] {
      --_color-background: hsl(var(--color-status-info-weak));
      --_color-border: hsl(var(--color-stroke-info));
      --_color-text: hsl(var(--color-text-info));
    }

    &[data-variant="warning"] {
      --_color-background: hsl(var(--color-status-warning-weak));
      --_color-border: hsl(var(--color-stroke-warning));
      --_color-text: hsl(var(--color-text-warning));
    }
  }
}
