@layer components {
  :where(.form) {
    --_color-input-background: var(--color-surface);
    --_color-input-background-active: var(--color-background);
    --_color-input-background-focused: var(--color-surface-raised);
    --_color-input-text: hsl(var(--color-text));
    --_color-input-placeholder-text: hsla(var(--color-text), 0.2);
    --_border-input: var(--border);
    --_border-input-focus: var(--border-width) solid
      var(--color-stroke-strong);
    --_radius-input: var(--radius-2);
    --_height-input: var(--size-7);

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--size-4);
    align-items: start;
  }
}
