---
import "../../style/style.css";
import ThemeSwitcher from "../ThemeSwitcher.astro";

interface Props {
    title: string;
    bodyClass?: string;
}

const { title, bodyClass } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>maxhill.se - {title}</title>

        <link
            rel="preload"
            href="/fonts/optimized/IBMPlexMono-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/optimized/IBMPlexMono-Medium.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/optimized/IBMPlexMono-Bold.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/optimized/DepartureMono-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <script>
            (function () {
                const theme = localStorage.getItem("theme");
                if (theme) {
                    document.documentElement.setAttribute("data-theme", theme);
                } else if (
                    window.matchMedia("(prefers-color-scheme: dark)").matches
                ) {
                    document.documentElement.setAttribute("data-theme", "dark");
                } else {
                    document.documentElement.setAttribute(
                        "data-theme",
                        "light",
                    );
                }
            })();
        </script>
    </head>
    <body class={bodyClass}>
        <div class="main-menu">
            <nav>
                <a href="/">maxhill.me</a>
                <a href="/design-system">/design-system.html</a>
            </nav>

            <ThemeSwitcher persist={true} />
        </div>

        <slot />
    </body>
</html>
