:host {
  display: block;
  margin-block-start: var(--size-4);
}

.danger-zone {
  padding: var(--size-3);
}

summary {
  cursor: pointer;
  font: var(--p2);
  font-family: var(--ff-display);
  color: var(--color-text-softer);
}

details[open] .content {
  margin-top: var(--size-3);
}

.action {
  margin-block-start: var(--size-3);
}
